.mail-form {
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 10;

  &__form-wrp {
    display: none;

    &_active {
      display: block;
    }

    background-color: #F8FBFA;
    border-style: solid;
    border-width: 2px;
    border-color: #0dbc91;
    text-align: left;
    position: relative;
    width: 255px;
    bottom: 80px;
    right: 10px;
    padding: 5px;

  }

  &__label {
    display: block;
    margin-top: 20px;
  }

  &__input {
    width: 100%;

    &_text-area {
      min-height: 100px;
      min-width: 100%;
      max-height: 100px;
      max-width: 100%;
    }
  }

  &__submit-btn {
    width: 100%;
    margin-top: 10px;
  }

  &__show-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
  }

  &__img {
    width: 80px;
    height: 80px;
  }
}